body{
    background: #050505 !important;
     color: #fff !important;
     margin: 0 !important;
     font-family: Arial !important;
     font-size: 17px !important;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

/* Add a gray background color and some padding to the footer */
footer {

    
  background-color:#555555d7 !important;
  padding: 25px !important;
  height:40px !important;
}

.carousel-inner img {
  width: 100% !important; /* Set width to 100% */
  margin: auto !important;
  min-height:200px !important;
}



/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none !important; 
}
}

